/*

VISE Project User Interface Stylesheet

Author: Abhishek Dutta
05 Nov. 2019

*/

body { font-family:sans; background-color:white; margin:0 1ch; font-size:12pt; }
.toppanel { display:block; margin:0; padding:0em; border-bottom:1px solid #cccccc; }
.toppanel .viselogo { display:inline-block; margin:0.8em 0; padding:0 1ch; letter-spacing:0.3ch; }
.toppanel .viselogo a { color:inherit; text-decoration:none; }
.toppanel .project { display:inline-block; }
.toppanel .nav { display:inline-block; float:right; font-size:medium; }
.toppanel .nav ul { list-style-type:none; margin:0; padding:0; }
.toppanel .nav li { display:inline-block; margin:0.8em 0; padding:0 1ch; }

.project_toolbar { display:block; margin:1em 0; font-size:small; }
.project_toolbar * { font-size:small; }
.project_toolbar div { display:inline-block; }
.project_toolbar div:last-child {}

.project_toolbar ul { list-style-type:none; margin:0; padding:0; }
.project_toolbar li { display:inline-block; margin:0.4em 0; padding:0 1ch; }

.add_files_panel {}
.add_files_panel p { max-width:60em; }
.add_files_panel input { font-size:small; }
.add_files_panel li { margin:1em 0; }

.status_panel {}
.status_panel td {padding:0 1em; }
.status_panel .progressbar {}

/* inspired from: https://github.com/guoyunhe/flexbin */
.project_filelist { clear:both; display:flex; overflow:hidden; flex-wrap:wrap; }
.project_filelist > * { position:relative; display:block; height:15vh; margin:0.15ch; flex-grow:1; }
.project_filelist .file > img { height:15vh; object-fit:cover; max-width:100%; min-width:100%; vertical-align:bottom; }
